<div class="container projects-container">
  <h3>{{ site.projects_title | default: "Projects" }}</h3>
  {% for project in site.data.projects %}
    <div class="row clearfix project">
      <div class="">
        <h2>
          <b>
            {{ project.name }}
          </b>
            {%- if project.pdf -%}
              [<a href="{{ project.pdf }}" target="_blank">PDF</a>]
            {%- endif -%}
            {%- if project.slides -%}
              [<a href="{{ project.slides}}" target="_blank">Slides</a>]
            {%- endif -%}
            {%- if project.poster -%}
              [<a href="{{ project.poster}}" target="_blank">Poster</a>]
            {%- endif -%}
            {%- if project.iee -%}
              [<a href="http://{{ project.pdf }}" target="_blank">IEE</a>]
            {%- endif -%}
        </h2>
        <p>
          {{ project.authors }}<br>
          {{ project.place }}<br>
          {{ project.information }}<br>
        </p>
      </div>
    </div>
  {% endfor %}
</div>
